* {
    text-align: center;
}

body{
    background-image: url(background-pic.jpg);
}

.action-button {
    color: aliceblue;
    cursor: pointer;
    text-decoration: none;
    padding: 1px 7px 2px;
    margin: 0em;
    font: 400 15px Helvetica;
    background-color: black;
    border-color: black;
    border-radius: 5px;
}

.action-button-start {
    color: aliceblue;
    cursor: pointer;
    text-decoration: none;
    padding: 1px 7px 2px;
    margin: 0em;
    font: 400 15px Helvetica;
    background-color: black;
    border-color: black;
    border-radius: 5px;
}

.action-button-finish {
    color: aliceblue;
    cursor: pointer;
    text-decoration: none;
    padding: 1px 7px 2px;
    margin: 0em;
    font: 400 15px Helvetica;
    background-color: black;
    border-color: black;
    border-radius: 5px;
}

.header-button {
    color: aliceblue;
    font-weight: 700;
    font-size: 25px;
    text-decoration: none;
    cursor: pointer;
    font-family: Helvetica;
    background-color: none;
    border-color: none;
}

.header-button:hover {
    animation: 1s text-color-change;
    color:gold;
  }

.header-button {
    animation: 1s change-color-back;
    color:aliceblue;
}

.action-button:hover {
    animation: 1s text-color-change;
    color:gold;
  }

.action-button {
    animation: 1s change-color-back;
    color:aliceblue;
}

.action-button-start:hover {
    animation: 1s text-color-change-start;
    color:green;
  }

.action-button-start {
    animation: 1s change-color-back-start;
    color:aliceblue;
}

.action-button-finish:hover {
    animation: 1s text-color-change-finish;
    color:red;
  }

.action-button-finish {
    animation: 1s change-color-back-finish;
    color:aliceblue;
}

@keyframes text-color-change {
    from {
        color: aliceblue;
    }
  
    to {
        color:gold;
    }
}

@keyframes change-color-back {
    from {
        color: gold;
    }
  
    to {
        color:aliceblue;
    }
}

@keyframes text-color-change-start {
    from {
        color: aliceblue;
    }
  
    to {
        color:green;
    }
}

@keyframes change-color-back-start {
    from {
        color: green;
    }
  
    to {
        color:aliceblue;
    }
}

@keyframes text-color-change-finish {
    from {
        color: aliceblue;
    }
  
    to {
        color:red;
    }
}

@keyframes change-color-back-finish {
    from {
        color: red;
    }
  
    to {
        color:aliceblue;
    }
}

h2 {
    width: 100%;
    height: 20px;
    color:aliceblue;
    font-family: Helvetica;
    font-weight: bold;
}

p {
    color: aliceblue;
    width: 100%;
    height: 20px;
    font-family: Helvetica;
}

a{
    font-size: 30px;
    margin-left: 30px;
    line-height: 60px;
}

.container {
    display: table;
    margin: 20px auto;
}

table {
	border: none;
    border-collapse: collapse;
}

.content {
    height: 30px;
    width: 30px;
}

.start {
    background-color: hsl(140, 100%, 30%) !important;
    cursor: pointer;
}

.start:hover {
    background-color: hsl(140, 100%, 35%) !important;
    cursor: pointer;
}

.start:active {
    background-color: hsl(140, 100%, 40%) !important;
    cursor: pointer;
}

.finish {
    background-color: hsl(350, 80%, 50%) !important;
    cursor: pointer;
}

.finish:hover {
    background-color: hsl(350, 90%, 58%) !important;
    cursor: pointer;
}

.finish:active {
    background-color: hsl(350, 100%, 66%) !important;
    cursor: pointer;
}

.path {
    background-color: hsl(200, 100%, 50%) !important;
    cursor: pointer;
}

.path:hover {
    background-color: hsl(200, 100%, 55%) !important;
    cursor: pointer;
}

.path:active {
    background-color: hsl(200, 100%, 60%) !important;
    cursor: pointer;
}

.pass {
    background-color: hsl(0, 0%, 90%);
}

.pass:hover {
    background-color: hsl(0, 0%, 95%);
    cursor: pointer;
}

.pass:active {
    background-color: hsl(0, 0%, 100%);
    cursor: pointer;
}

.impass {
    background-color: hsl(0, 0%, 20%);
}

.impass:hover {
    background-color: hsl(0, 0%, 25%);
    cursor: pointer;
}

.impass:active {
    background-color: hsl(0, 0%, 30%);
    cursor: pointer;
}